.your-party .summoner-wrapper
    .video-magic-background
        background-size 400px 235px
        background-repeat no-repeat
        background-position 0 -30px

    .summoner-spells
        z-index 1

    .champion-ring,
    .champion-ring-pop-animation,
    .champion-ring-shine-animation,
    .champion-ring-magic-animation-inner,
    .champion-ring-magic-animation-outer,
    .champion-ring-spinner,
    .champion-icons,
    .video-ring-spinner
        display none !important

    .player-details
        margin-left -60px
    
    .summoner-position, .summoner-name
        color white

    .ban-icon
        margin-left -48px