.welcome-container
    width 700px

    .welcome-header
        height 67px
        border-bottom 1px solid #1e282d

        display flex
        align-items center
        justify-content center

        font-family 'LoL Display'
        font-size 30px

        background linear-gradient(to bottom, #cdbe91 0%, #c8aa6e 35%, #765c29 100%)
        -webkit-background-clip text
        -webkit-text-fill-color transparent

        .ace-icon
            width 40px
            height 40px
            padding-right 30px
            background-image url('../../settings/ace_board.svg')
            background-size 40px
            background-position center
            background-repeat no-repeat

    .welcome-content
        width 700px
        padding 10px
        
        font-family 'LoL Body'
        color #a09b8c

        & > a
            color #f0e6d2

    .welcome-footer
        height 0 32px
        display flex
        justify-content center