.ace-settings-dialog
    display flex
    justify-content center
    align-items center

.app-controls-ace-settings
    -webkit-mask-image url(./ace_board.svg)
    -webkit-mask-size 85% !important
    -webkit-mask-position center
    -webkit-mask-repeat no-repeat