@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

// Import ICONS
@import "../common"

.champion-groups-default
    padding 10px 5px

.champion-groups-settings
    display flex
    flex-direction row

    width 100%
    height calc(100% - 40px)

    border 1px solid #1e282d

    .sidebar
        flex 0 140px
        display flex
        flex-direction column
        border-right 1px solid #1e282d

        lol-uikit-navigation-bar
            flex 1
            border-bottom 1px solid #1e282d

        .toolbar
            flex 0 30px
            display flex

            .plus, .remove, .edit
                cursor pointer
                width 30px
                height 30px
                -webkit-mask-size 16px 16px
                -webkit-mask-position center
                -webkit-mask-repeat no-repeat
                background-color #f0e6d2
                transition background-color 0.3s ease

            .plus:hover, .remove:hover, .edit:hover
                background-color #c8aa6e
            
            .plus
                -webkit-mask-image url('~open-iconic/svg/plus.svg')

            .edit
                -webkit-mask-image url('~open-iconic/svg/pencil.svg')

            .remove
                -webkit-mask-image url('~open-iconic/svg/trash.svg')

    .contents
        flex 1
        position relative
        height calc(100% - 10px)
        padding-top 5px

        .centered
            width 100%
            height 100%
            display flex
            justify-content center
            align-items center

        .loading-spinner
            width 40px
            height 40px

            background-image url('/fe/lol-collections/spinner.png')
            background-size 40px

            animation spin 4000ms infinite linear

        .error
            font-family 'LoL Body'
            color #a09b8c
            max-width 70%
            text-align center
        
        lol-uikit-scrollable
            padding-top 3px
            width calc(100% - 8px)
            height 100%
            display flex
            flex-wrap wrap
            justify-content center
        
        lol-uikit-champion-thumbnail
            transition opacity 0.3s ease
            width 60px
            height 80px
            margin 8px

            &[disabled]
                opacity 0.6

        lol-uikit-thumbnail
            &:hover
                border-image-source linear-gradient(to bottom, #f0e6d2 4%, #c89b3c 100%)
                cursor pointer

        lol-uikit-thumbnail /deep/ .thumbnail-inner
            transition -webkit-filter 0.3s ease

// Generate styles for the picker.
for icon in ICONS
    lol-uikit-dropdown-option[value={icon}]
        & > span
            position absolute
            line-height 30px
            left 40px

        & > .champion-groups-dropdown-icon
            position absolute
            margin 7.5px
            width 15px
            height 15px
            -webkit-mask-image url("~open-iconic/svg/" icon ".svg")
            -webkit-mask-position center
            -webkit-mask-size cover
            -webkit-mask-repeat no-repeat
            background-color #a09b8c