.changelog-container
    width 550px

    .changelog-header
        height 50px
        border-bottom 1px solid #1e282d

        display flex
        align-items center
        justify-content center

        font-family 'LoL Display'
        font-size 30px

        background linear-gradient(to bottom, #cdbe91 0%, #c8aa6e 35%, #765c29 100%)
        -webkit-background-clip text
        -webkit-text-fill-color transparent

    .changelog-content
        width 550px
        padding 10px

        lol-uikit-scrollable
            max-height 400px
        
        font-family 'LoL Body'
        color #a09b8c

        h1[id]
            border-bottom 1px solid #564f37
            margin-right 5px

        a
            color #f0e6d2

        table
            tr
                border-top 1px solid #ccc

        blockquote
            -webkit-margin-start 0px
            padding 0px 6px
            color #6b675d
            border-left 3px solid #524e44

    .changelog-footer
        height 0 32px
        display flex
        justify-content center