// Riot does some pretty weird stuff with textures, so we manually fix them here.
.champion-grid-header .role-icons
    background-image none
    justify-content flex-start

    .role
        background-image url("/fe/lol-champ-select/images/champion-grid/role-filter-disabled.png")
        background-size 180px
        background-repeat no-repeat
        flex 0 0 20px

    .role.active, .role:hover
        background-image url("/fe/lol-champ-select/images/champion-grid/role-filter-enabled.png")
        border-bottom 0px solid #785a28

    .fighter, ._custom[icon=fighter]
        background-position 0 0

    .tank, ._custom[icon=tank]
        background-position -32px 0

    .mage, ._custom[icon=mage]
        background-position -64px 0

    .assassin, ._custom[icon=assassin]
        background-position -96px 0

    .support, ._custom[icon=support]
        background-position -128px 0

    .marksman, ._custom[icon=marksman]
        background-position -160px 0

    ._custom:not([icon=fighter]):not([icon=tank]):not([icon=mage]):not([icon=assassin]):not([icon=support]):not([icon=marksman])
        background-image none
        background-color #5B5A56
        -webkit-mask-position center 2px
        -webkit-mask-repeat no-repeat
        -webkit-mask-size 18px

        &.active, &:hover
            background-color #EDE4D0

    @import "./common"

    // Generate classes for all the custom icons.
    for icon in ICONS
        ._custom[icon={icon}]
            -webkit-mask-image url("~open-iconic/svg/" icon ".svg")